h1,h2,h3,h4,h5,h6{
    font-family: "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
color:#000000 !important;
}
.location-pin{
    max-width:20px !important;
}
.kp-gold-sponsors img {
	box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
	border-radius: 10px;
    background:red !important;
}