h1,h2,h3,h4,h5,h6{
    font-family: "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
color:#000000 !important;
}
.location-pin{
    max-width:20px !important;
}
.wcb_sponsor figure
{
	aspect-ratio: 16 / 9 !important;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 0;
    margin-bottom: 0;
}
.wcb_sponsor figure img
{
	width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
	background-color: #ffffff !important;
	padding-left:20px !important;
	padding-right:20px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px !important;
	border-radius: 10px !important;
}